<div class="top-header">
  {{ allHomesArray[0].address }}
</div>

  <ul class="page-nav">
    <li><a href="#property">Property</a></li>
    <li><a href="#webvr">WebVR</a></li>
    <li><a href="#photos">Photos</a></li>
    <li><a href="#map">Map</a></li>
  </ul>


<img src="{{allHomesArray[0].firstpic}}" class="full-width-image">

<a name="property"></a>
  <div class="card-parent" [ngStyle]="allHomesArray[0].parallax1">
    <div>
      <img src="assets/bedicon.png" alt="icon" class="resize-icon">

      {{allHomesArray[0].statsArray[0]}}
    </div>
    <div>
      <img src="assets/bathroomicon.png" alt="icon" class="resize-icon">

      {{allHomesArray[0].statsArray[1]}}
    </div>
    <div>
      <img src="assets/sqfticon.png" alt="icon" class="resize-icon">

      {{allHomesArray[0].statsArray[2]}}
    </div>
  </div>

<a name="webvr"></a>
  <div class="webvr-container">
    <h1 style="text-align: center">360 Video Walkthrough</h1>
    <iframe width="100%" height="100%" [src]='sanitizer.bypassSecurityTrustResourceUrl(allHomesArray[0].matterportEmbed)' frameborder="0" allowfullscreen></iframe>
  </div>


<a name="photos"></a>
<div [ngStyle]="allHomesArray[0].parallax2"></div>

<a name="map"></a>
